.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav.in
      %li
        %a{:href => "#"}
          %i.fa.fa-linkedin-square.fa-fw
          基本数据
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin-square.fa-fw
              基本数据1
          %li
            %a{:href => "#"}
              %i.fa.fa-plus.fa-fw
              基本数据2